[UserInfo]
User = 
datasetID = 
species = {{ species }}
factor = 
treatpath = 
controlpath =
# Files must has fastq or sam as suffix
OutputDirectory = 

[bowtie]
#BAMTOFASTQ = /usr/local/bin/bam2fastx
# latest bedtools
BAMTOFASTQ = /usr/local/bin/bamToFastq
BOWTIE_MAIN = /usr/bin/bowtie
BOWTIE_GENOME_INDEX_PATH = /data/CistromeAP/static_libraries/indexes/{{ species }}
n_BOWTIE_MAX_ALIGNMENT = 1

[samtools]
SAMTOOLS_MAIN = /usr/bin/samtools
SAMTOOLS_CHROM_LEN_PATH = /data/CistromeAP/static_libraries/chromLen/{{ species }}.len
CHROM_LEN_BED_PATH = /data/CistromeAP/static_libraries/chr_limit/chr_limit_{{ species }}.bed

[macs]
MACS_MAIN = /usr/local/bin/macs2
#MODEL = Yes
BEDGRAPHTOBIGWIG_MAIN = /home/boqin/pipeline_library/bedGraphToBigWig
BEDCLIP = /home/hs805/bin/bedClip

[bedtools]
INTERSECTBED_MAIN = /usr/local/bin/intersectBed

[bed2bam]
BEDTOBAM_MAIN = /usr/local/bin/bedToBam

[ceas]
CEAS_MAIN = /usr/local/bin/ceasBW
ceas_ex = /opt/bin/ceas-exon
CEAS_GENETABLE_PATH = /data/CistromeAP/static_libraries/RefGene/{{ species }}.refGene
CHROM_LEN =/data/CistromeAP/static_libraries/chromLen/{{ species }}.len
CEAS_PROMOTER_SIZES = 
CEAS_BIPROMOTER_SIZES = 
CEAS_REL_DIST = 

[conservation]
CONSERV_PLOT_MAIN = /usr/local/bin/conservation_plot.py
PEAKS_NUM = 3000
CONSERV_PLOT_PHAST_PATH = /data/CistromeAP/static_libraries/conservation/{{ species }}/vertebrate

[correlation]
WIG_CORRELATION_MAIN = /usr/local/bin/bigwig_correlation.py
WIG_CORRELATION_STEP = 10
WIG_CORRELATION_METHOD = mean 
WIG_CORRELATION_MIN = 2
WIG_CORRELATION_MAX = 50

[venn]
VENN_DIAGRAM_MAIN = /usr/local/bin/venn_diagram.py
DHS_BED_PATH = /data/CistromeAP/static_libraries/DHS/DHS_{{ species }}.bed
VELCRO_PATH = /home/boqin/pipeline_library/wgEncodeHg19ConsensusSignalArtifactRegions.bed
# velcro only available for hg19

[seqpos]
SEQPOS_MAIN = /usr/local/bin/MDSeqPos.py
SEQPOS_TOP_PEAKS = 1000
SEQPOS_MDSCAN_WIDTH = 200
SEQPOS_MDSCAN_TOP_PEAKS = 200
SEQPOS_MDSCAN_TOP_PEAKS_REFINE = 500
SEQPOS_WIDTH = 600
SEQPOS_PVALUE_CUTOFF = 0.001
SEQPOS_MOTIF_DB_SELECTION = cistrome.xml


[QC]
FASTQC_MAIN = /usr/local/bin/fastqc
FILTERDUP_SPECIES = {{ filterdup_species }}
